.sub-visual {
    width: 100%;
    height: 400px;
    background-image: url("../img/sub_visual01.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &.sub-visual01 {
        background-image: url("../img/sub_visual01.png");
    }

    &.sub-visual02 {
        background-image: url("../img/sub_visual02.png");
    }

    &.sub-visual03 {
        background-image: url("../img/sub_visual03.png");
    }

    &.sub-visual04 {
        background-image: url("../img/sub_visual04.png");
    }

    &.sub-visual05 {
        background-image: url("../img/sub_visual05.png");
    }

    &.sub-visual06 {
        background-image: url("../img/sub_visual06.png");
    }

    &.sub-visual07 {
        background-image: url("../img/sub_visual07.png");
    }

    .typo {
        position: absolute;
        color: #fff;
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
        top: 50%;
        width: 100%;
        font-weight: 300;
        letter-spacing: -2px;

        b {
            font-weight: 500;
        }
    }
}

@include mq("tablet-wide") {

    .sub-visual {
        height: 300px;

        .typo {
            font-size: 40px;
        }
    }

}

@include mq("tablet-small") {
    .sub-visual {
        height: 200px;

        .typo {
            font-size: 25px;
            top: 58%;
        }
    }
}

@include mq("phone-wide") {
    .sub-visual {
        height: 300px;

        .typo {
            font-size: 25px;
            top: 50%;
        }
    }
}
